.navbar-brand {
    font-weight: bold;
}

.pagination {
    justify-content: center;
}
.page-link {
    padding: 0.375rem 0.75rem;
    font-size: 0.9rem;
}

html, body {
    height: 100%;
    margin: 0;
    padding: 0;
    background-color: #f8f9fa;
}

body {
    display: flex;
    flex-direction: column;
}

.main-wrapper {
    flex: 1;
    display: flex;
    flex-direction: column;
}

.content-wrapper {
    flex: 1;
    display: flex;
    flex-direction: column;
    padding: 20px;
}

.content-wrapper.container {
    background-color: #ffffff;
    border: 1px solid #dee2e6;
    border-radius: 8px;
    padding: 20px;
    margin-bottom: 30px;
    box-shadow: 0 2px 8px rgba(0,0,0,0.05);
}

.main-content {
    background-color: #ffffff;
    border: 1px solid #dee2e6;
    border-radius: 8px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.05);
    padding: 2rem;
    flex: 1;
}

footer {
    background-color: #007bff;
    color: black;
    text-align: center;
    padding: 1rem;
    margin-top: auto;
}

.carousel-inner {
    height: 400px;
}

.carousel-item {
    height: 100%;
}

.carousel-item img {
    width: 100%;
    height: 100%;
    object-fit: cover; /* memenuhi tinggi & lebar */
}
